$font: 'Inter', sans-serif;
$primary-color: #ff6b81;
$title-color: #000;
$txt-color: #888888;
$box-shadow: #000000 0px 4px 10px 0;
$light-shadow: 0 4px 6px #0000002a;
$para-font-size: 15px;
$border-radius: 10px;

$mobile-limit: 640px;
$tablet-limit: 1024px;

