@use '../../../sass/' as *;

.blog-intro {
    background-color: $primary-color;
    line-height: 22.5px;
    padding: 180px 0px 100px;
    h1 {
        color: #ffffff;
        font-family: inter;
        font-size: 32px;
        font-weight: 700;
        line-height: 50px;
        text-align: center;
    }

    &__path {
        text-align: center;
        margin: 15px 0px 0px;
        span {
            color: #ffffff;
            display: inline-block;
            font-family: inter;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            text-align: center;
            text-transform: capitalize;
            margin-right: 15px;
        }
    }
}